.card{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.endded a{
    text-decoration: none;
    cursor: pointer;

}
.endded .card{
    width: 270px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.card img{
    width:20px;
    background:none;
}